<p id="notice"><%= notice %></p>

<p>
  <strong>路線名:</strong>
  <%= @nearest_station.route %>
</p>

<p>
  <strong>駅名:</strong>
  <%= @nearest_station.station_name %>
</p>

<p>
  <strong>徒歩分数:</strong>
  <%= @nearest_station.on_foot %>
</p>

<%= link_to '編集', edit_nearest_station_path(@nearest_station) %> |
<%= link_to '戻る', nearest_stations_path %>
