<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @property.rent %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @property.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @property.remark %>
</p>

<% @nearest_stations.each do |nearest_station| %>
  <% if @property.nearest_stations.any? %>
    <%= nearest_station.route %>
    <%= nearest_station.station_name %>
    <%= nearest_station.on_foot %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
